<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking Confirmation!</title>
</head>
<body>
  <!-- Would want to take user info for mail rather than hard code as here -->
  <p>We are pleased to confirm that your booking with L.a.b.s is now complete.  You will be sent a confirmation email.
  <p>Thanks team L.A.B.S</p>

  <a href="http://localhost:8001/#/profile">Return back to L.A.B.S</a>
</body>
</html>